html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100dvh;
  background-color: #121212;
}

* {
  box-sizing: border-box;
}

pre {
  margin: 0;
  overflow: scroll;
  padding: 20px;
  flex: 1 1 0px;
  & span.line:last-child,
  & span.line:first-child {
    opacity: 0.4;
  }
}

*[popover],
*[popover="auto"] {
  inset: auto;
  margin: 0;
  transition: 0.3s all;
  border: none;
  @starting-style {
    opacity: 0;
  }
}
